*{
    font-size: 15px;
    box-sizing: border-box;
}
.content{
    width: 700px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
}
.box-item{
    width: 300px;
    height: 300px;
}
#btn1, #btn2, #btn3, #btn4 {
    margin-bottom: 15px;
}
.div{
    padding: 5px;
    background-color:red;
    color: black;
    width: 150px;
    height: 150px;
}
.div-3{
    padding: 5px;
    background-color:dodgerblue;
    color:#fff;
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 20px;
}
.div-3-2{
    background-color:darksalmon;
}

#div4{
    background-color: cornflowerblue;
    font-size: 14px;
}

.hidden{
    display: none;
}